[submodule "libs/node-osc"]
	path = libs/node-osc
	url = https://github.com/peschuster/node-osc.git
[submodule "libs/casparcg-connection"]
	path = libs/casparcg-connection
	url = https://github.com/peschuster/casparcg-connection.git
